/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
	--bg-color: #FFF1F7;
	;
	--cover-color: #FFC2E6;
	--text-color: #353430;
	--heading-color: #353430;
	--bg-heading-color: #FF8DCB;
	--subtitle-color: #353430;
	--text-shadow: #FF8DCB;
	--bg-img: url(../images/cover-image-light.png);
}

.page.theme_light .decor {
	display: none;
}

.page.theme_light .header__theme-menu-item:hover {
	outline: 1px solid rgba(50, 49, 45, 0.40);
}


@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #FFF1F7;
		;
		--cover-color: #FFC2E6;
		--text-color: #353430;
		--heading-color: #353430;
		--bg-heading-color: #FF8DCB;
		--subtitle-color: #353430;
		--text-shadow: #FF8DCB;
		--bg-img: url(../images/cover-image-light.png);
	}

	.decor:not(.theme_dark .decor) {
		display: none;
	}

	.header__theme-menu-item:not(.theme_dark .header__theme-menu-item):hover {
		outline: 1px solid rgba(50, 49, 45, 0.40);
	}
}


      
  